body {
    overflow-y: auto;
}

#video {
    position: relative;
}

#cameraPreview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#facesCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#snapshot {
    margin-top: 20px;
}